<style>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');

	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
	}

	body{
		font-family: 'Noto Serif JP', serif;
		margin: 0;
	}

	header{
		padding: 5px 5px 5px 10px;
		border-bottom: 1px solid #888888;
	}

	h1{
		margin: 0px;
		font-size:1.2em;
	}

	main{
		margin: 10px 10px 3px 10px;
	}

	@media (min-width: 480px){
		main{
			display: flex;
			align-content:flex-start;
		}
		.timeschedule{
			margin: 0px 0px 0px 5px;
		}
	}
	@media (max-width: 480px){
		.left{
			display: none;
		}
	}

	.left{
		width: 260px;
		//padding: 0px 10px 10px 10px;
	}

	.timeschedule{
		list-style: none;
		padding-inline-start: 0px;
		overflow: auto;
		scroll-snap-type: x;
		display: flex;
		align-content:flex-start;
		padding: 0px 10px 10px 0px;
		overflow-y: scroll;
		/*スクロールバー非表示（IE・Edge）*/
		-ms-overflow-style: none;
		/*スクロールバー非表示（Firefox）*/
		scrollbar-width: none;
		//background-color: #eeeeee;
		//text-align: center;
		//border-top: .5px solid #888888;
	}

	.timeschedule::-webkit-scrollbar{
		display:none;
	}

	.timeschedule2{
		margin: 0px 5px 5px 0px;
		width: 260px;
	}
	
	h2{
		margin: 0px;
		font-size: .9em;
	}

	.date{
		list-style: none;
		padding-inline-start: 0px;
		overflow: auto;
		scroll-snap-type: x;
		display: flex;
		align-content:flex-start;
		margin: 5px 10px 0px 10px;
	}
	
	.date::-webkit-scrollbar{
		display:none;
	}

	.area{
		list-style: none;
		padding-inline-start: 0px;
		overflow: auto;
		scroll-snap-type: x;
		display: -webkit-box;
		align-content:flex-start;
		margin: 0px 10px 0px 10px;
	}

	.area::-webkit-scrollbar{
		display:none;
	}

	.cinema-list{
		list-style: none;
		padding-inline-start: 0px;
		overflow: auto;
		scroll-snap-type: x;
		display: -webkit-box;
		align-content:flex-start;
		margin: 0px 10px 5px 10px;
	}

	.cinema-list::-webkit-scrollbar{
		display:none;
	}

	.menu button{
		display: inline;
		border: 0px solid #666666;
		color: #030303;
		background-color: #f1f1f1;
		border-radius: 8px;
		max-width: 180px;
		min-width: 110px;
		height: 40px;
		padding: 2px 5px 2px 5px;
		margin: 2px;
		font-size:.7em;
		font-weight: bold;		
	}

	.menu button.on{
		border: 0px solid #666666;
		color: white;
		background-color: #0283C5;
	}

	button.eiga-block2{
		text-align: left;
		margin: 0 auto;
		background-color: white;
		color: black;
		border: 1px solid #e1e1e1;
		border-radius: 8px;
		width: 260px;
		height: 59px;
		display: inline-block;
		padding: 5px 5px 5px 5px;
		margin: 0px 0px 5px 2px;
		display: flex;
	}

	.time{
		width: 35px;
		height: 47px;
		font-size: 1.2em;
		text-align: center;
		margin: auto;
	}

	.time-sta{
		margin: 1px 0px -3px 0px;
	}

	.detail{
		width: 210px;
		padding: 0px 0px 0px 5px;
	}
	
	.title{
		font-size: 1.3em;
		font-weight: bold;
		text-align: left;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	
	.bd1{
		display: flex;
	}
	.bd2{
		width: 170px;
		margin: 0px 5px 0px 0px;
	}
	.options{
		height: 12px;
		font-size: .9em;
		text-align: right;
		margin: 3px 0px 3px 0px;
	}

	.theater{
		height: 12px;
		font-size: .9em;		
		text-align: right;
	}

	.add{
		margin: 6px 0px 0px 0px;
		padding: 2px 5px 2px 5px;
		text-align: center;
		background-color: #f0f0f0;
		border: 0px solid #e1e1e1;
		border-radius: 6px;
		width: 24px;
		height: 20px;
		font-size: 1.3em;
	}
	.subtract{
		margin: 6px 0px 0px 0px;
		padding: 2px 5px 2px 5px;
		text-align: center;
		background-color: #f0f0f0;
		border: 0px solid #e1e1e1;
		border-radius: 6px;
		width: 24px;
		height: 20px;
		font-size: 1.3em;
	}

	.eiga-block2:hover{
		//background-color: #f9f9f9;
		border: 1px solid #0283C5;
	}
	
	.eiga-block2:hover .add{
		color: white;
		background-color: #0283C5;
	}

	.eiga-block2:hover .subtract{
		color: white;
		background-color: black;
	}

</style>